@model Travelers.Models.Viaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aerolinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aerolinas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDestinoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDestinoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdViaje">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
