@using Travelers.Clases
@model IEnumerable<ViajeCLS>

@{
    ViewData["Title"] = "Viajes";
    List<SelectListItem> listaDestinos = ViewBag.listaDestinos;
}

<p>
    <a asp-action="Create">Crear viaje</a>
</p>
<form id="formEnviar" asp-controller="Viaje" asp-action="Filter" method="post">
    <label>Destino</label>
    @Html.DropDownList("nombrePais",listaDestinos,new { @class = "form form-control" })
</form>
<div class="page-content d-lg-flex">
    <div class="container-photos col-12 col-lg-12">
        <div class="row">
            @foreach (var item in Model)
            {
                string imgProvincia = item.nombreProvincia + ".jpg";
                <div class="card-store col-6 col-sm-4 col-lg-3">
                    <section class="product-box">
                        <figure class="product-box_image m-0">
                            <img src='/img/@item.nombrePais/@imgProvincia' +".jpg" alt="imagen de destino">
                        </figure>
                        <article class="product-box_data justify-content-md-between">
                            <h4>@item.nombrePais - @item.nombreProvincia</h4>
                            <span><br>$AR<b>@item.precio</b></span>
                            <p>Aerolinas: @item.aerolinas</p>
                            <p>@item.descripcion</p>
                        </article>
                    </section>
                </div>
            }
        </div>
    </div>
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacidadMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aerolinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrePais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProvincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
        </tr>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacidadMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aerolinas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProvincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idViaje">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idViaje">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idViaje">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<script>
    const seleccionPais = document.querySelector("select#nombrePais");
    const formEnviar = document.querySelector("form#formEnviar");
    seleccionPais.options[0].disabled = true;
    seleccionPais.addEventListener("change", function () {
        formEnviar.submit();
    });
</script>